:root {
    /* color */
    --color-white: #ffffff;
    --color-red: #f00;
    --color-orange: #ed6d00;
    --color-yellow: #ffc300;
    --color-bordergrey: rgba(255, 255, 255, 0.15);
    --color-dark-white: #bdbdbd;
    --color-black: #000000;
    --color-beige: #fcae8f;
    --color-blue: #006cb7;
    /* size */
    --font-biglogo: 40px;
    --font-headermenu: 20px;
    --font-hometext: 35px;
    --font-basetext: 13px;
    --font-txt: 60px;
  
    /* transition__druation */
    --base-duration: all 300ms ease-in-out;
  }
  * {
    padding: 0;
    margin: 0;
    word-break: keep-all;
    box-sizing: border-box;
  }
  
  ul,
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  html {
    font-size: 10px;
  }
  body {
    font-family: "Gothic A1", sans-serif;
  }
  button {
    border: none;
    outline: none;
  }
  section {
    width: 100%;
    position: relative;
    margin-bottom: 100px;
  }
  img {
    border: none;
  }
  .wrap {
    width: 100%;
    background-color: var(--color-black);
    overflow: hidden;
  }
  /* header */
  
  #header__wrap {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 99;
    background-color: var(--color-black);
  }
  #header__wrap a {
    color: var(--color-white);
  }
  .header__top__wrap {
    width: 100%;
  }
  .header__top__title {
    max-width: 1200px;
    height: 100px;
    text-align: center;
    margin: auto;
    line-height: 100px;
    font-size: var(--font-biglogo);
    position: relative;
  }
  .header__top__title span {
    font-family: "Orbitron", sans-serif;
  }
  .hearder__top__btn {
    width: 50px;
    height: 50px;
    font-size: var(--font-biglogo);
    background-color: transparent;
    color: var(--color-white);
    position: absolute;
    right: 0;
    top: 20px;
    line-height: 50px;
    display: none;
  }
  .header__bot__wrap {
    width: 100%;
    border-top: 1px solid var(--color-bordergrey);
    border-bottom: 1px solid var(--color-bordergrey);
    max-width: 1200px;
    margin: 15px auto;
  }

  .header__bot__container {
    width: 60%;
    margin: 0 auto;
  }
  .login__btns,
  .logout__btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .login__btns li,
  .logout__btns li {
    width: 200px;
    border: 1px solid var(--color-white);
    text-align: center;
    border-radius: 30px;
    margin: auto 20px;
  }
  .login__btns a,
  .logout__btns a {
    height: 100%;
    font-size: var(--font-basetext);
    display: block;
    line-height: 32px;
  }
  .login__btns .login__btns__sign {
    border: 1px solid var(--color-orange);
    transition: var(--base-duration);
  }
  .sign-btn {
    color: var(--color-orange);
    transition: var(--base-duration);
  }
  .login__btns__sign:hover,
  .logout:hover {
    background-color: var(--color-orange);
  }
  .login__btns__sign:hover .sign-btn,
  .logout:hover .logout__a {
    color: var(--color-white);
  }
  
  .intro__title {
    width: 100%;
    margin-bottom: 35px;
    font-weight: 700;
  }
  .intro__title__txt {
    font-size: var(--font-txt);
    color: var(--color-white);
  }
  .intro__title__half-line {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  .intro__title__half-line::before {
    display: inline-block;
    content: "";
    width: 100%;
    background-color: var(--color-white);
    height: 5px;
  }
  .section__titles {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .section__logo {
    margin: 10px 50px;
  }
  .section__logo i {
    color: var(--color-white);
    padding: 0 14px;
    transform: scale(1.7); /* 로고 사이즈  조절*/
  }
  .section__logo__title {
    color: var(--color-dark-white);
  }
  .section__logo__title:hover {
    color: var(--color-orange);
  }
  .section__logo.selected .section__logo__title{
    color: var(--color-orange);
  }

  /* footer */
  #footer__wrap {
    background-color: var(--color-black);
    margin-top: 100px;
    position: relative;
    z-index: 1;
  }
  .footer__container {
    max-width: 1200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer__introduce__logo__link {
    display: flex;
    align-items: center; /* flex 속성의 수직 정렬 */
    font-size: var(--font-headermenu);
  }
  .footer__introduce__logo__link i {
    color: var(--color-white);
    padding: 0 14px;
    transform: scale(1.5); /* 로고 사이즈  조절*/
  }
  .footer__introduce__logo__title {
    color: var(--color-dark-white);
  }
  .footer__introduce__btns {
    display: flex;
    font-size: var(--font-basetext);
    margin-top: 10px;
  }
   .footer__introduce__btns li {
    display: inline-block;
    position: relative;
    padding: 0 8px;
  }
  .footer__introduce__btns li:first-child::before { /* 처음에는 구분선이 없으므로*/
    display: none;
  }
  .footer__introduce__btns li::before { /* 구분선 넣기 */
    display: inline-block;
    content: "";
    position: absolute;
    width: 1px;
    left: 0;
    top: 0;
    background-color: var(--color-dark-white);
    vertical-align: middle;
    height: 15px;
  }
  .footer__introduce__btns a {
    color: var(--color-dark-white);
  }
  .footer__introduce__info,
  .footer__introduce__info a {
    color: var(--color-dark-white);
  }
  .footer__introduce__info {
    font-size: var(--font-basetext);
    padding: 0 8px;
    margin-top: 10px;
  }
  .footer__introduce__info li {
    margin-bottom: 10px;
  }
  .footer__btns {
    display: flex;
  }
  .footer__btn {
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-dark-white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 30%;
    transition: var(--base-duration);
  }
  .footer__btn i {
    transition: var(--base-duration);
    color: var(--color-white);
    line-height: 48px;
  }
  .footer__btn:last-child {
    margin-right: 0;
  }
  .footer__btn:hover {
    transform: scale(1.2);
    border: 1px solid var(--color-red);
  }
  .footer__btn:hover i {
    transform: rotateY(360deg);
    color: var(--color-red);
  }
  .footer__btn a {
    font-size: var(--font-headermenu);
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  @media screen and (max-width: 800px) {
    :root {
      /* color */
      --color-white: #ffffff;
      --color-red: #f00;
      --color-orange: #ed6d00;
      --color-yellow: #ffc300;
      --color-bordergrey: rgba(255, 255, 255, 0.15);
      --color-dark-white: #bdbdbd;
      --color-black: #000000;
      --color-beige: #fcae8f;
      /* size */
      --font-biglogo: 30px;
      --font-headermenu: 15px;
      --font-hometext: 18px;
      --font-basetext: 13px;
      --font-txt: 40px;
  
      /* transition__druation */
      --base-duration: 300ms;
    }
    .header__title {
      color: var(--color-white);
    }
    #header__wrap a {
      color: var(--color-orange);
      display: block;
    }
    .header__top__wrap {
      border-bottom: 1px solid var(--color-bordergrey);
    }
    .header__bot__wrap {
      display: none;
    }
    .header__bot__wrap.open {
      display: block;
      background-color: black;
      height: 100vh;
      position: relative;
      z-index: 999;
    }
    .header__bot__container {
      flex-direction: column;
    }
    .login__wrap {
      width: 100%;
    }
    #header__wrap .login a {
      color: var(--color-white);
    }
    .menu__btn {
      display: block;
    }

    /* footer */
    .footer__container {
      height: 250px;
      flex-direction: column;
      padding: 10px;
    }
    .footer__logo {
      margin-right: 15px;
    }
    .footer__btns__wrap > li::before {
      display: none;
    }
    .footer__btns__wrap {
      flex-direction: column;
      justify-content: center;
    }